*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    color: #ffff;
    font-size: 20px;
    font-weight: 700;
    background: #FD6E0A;
    border: none;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
    
}
/*header and navigation style*/
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/*banner style css*/
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
 }
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}
.banner-discription{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
/*main section*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
/*about-sections styles*/
.about{
   margin-top: 100px;
   background: #FFF8F3;
   border-radius: 10px;
   padding: 130px 150px;
}
.section-title{
   text-align: center;
   font-weight: 700;
   font-size: 35px;
   margin-bottom: 30px;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/*what-I-Do styles*/
.what-i-do{
    margin-top: 40px;
    padding: 130px 150px;
}
.what-description{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}
.what-title{
    text-align: center;
    margin-bottom: 30px;
    color: #181818;
    font-weight: 700;
    font-size: 35px;
}
/*skill section style*/
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    padding-top: 30px;
    padding-bottom: 20px;
}
.skill-description{
    font-weight: 400;
    font-size: 16px;
}
/*resume styles*/
.resume-content{
    display: flex;
    gap: 5git0px;
    margin-top: 60px;
}
.resume-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}
.sub-title{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}
.description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.resume-button{
    text-align: center;
    margin-top: 50px;
}
